
%section.hero.for-teachers
  .row.text-center
    .small-12.columns
      %h1.main-title For Teachers
      %h2.subheader Field Trip Foundation provides grants for outdoor field trips for grades 3rd through 5th

%section.who-we-are
  .header.goals
    %h1 Our goal is to enable trips that:
    %hr/

  .row
    .medium-3.columns
      .profile-card
        = image_tag "outdoors.svg"
        .profile-info
          %p Provide a rich, outdoor environmental education experience for the students

    .medium-3.columns
      .profile-card
        = image_tag "high-five.svg"
        .profile-info
          %p Otherwise would not happen due to a lack of funds
          %br/

    .medium-3.columns
      .profile-card
        = image_tag "binoculars.svg"
        .profile-info
          %p Enhance and complement the in-class curriculum
          %br/
    
    .medium-3.columns
      .profile-card
        = image_tag "thumbs-up.svg"
        .profile-info
          %p Are effective in their cost/student ratio
          %br/
          %br/
  %br/

%section.grant-requirements
  .row.step-by-step-style-one
    .small-12.columns
      .path-item
        .circlenumber
          %h3 1
        %p Applications are accepted on an ongoing basis and decisions are made monthly. An acknowledgement will be mailed back to you upon receipt of your application. Please allow 4 weeks for review and approval. We will contact you with any further questions.
      .path-item
        .circlenumber
          %h3 2
        %p Grants range from $100 to $500, but exceptional grants may be approved up to $1000. Grants with a lower cost per student will be more favorably evaluated (e.g. a grant for $500 for 50 students is more likely to be approved than a $500 grant for 30 students). Grants requests are evaluated on their educational quality and ability to enhance/leverage in-class curriculum.
      .path-item
        .circlenumber
          %h3 3
        %p Grantees must provide a brief post-trip report on the educational value of the trip and photos of the trips are encouraged. A short report form will be provided at the time of the grant.

    .grant-button
      %a{:href => "/for-teachers/application"}
        .button.round Fill Out an Application