%section.hero.how-to-help
  .row.text-center
    .small-12.columns
      %h1.main-title How to Help
      %h2.subheader "In the end... We will conserve only what we love. We will love only what we understand. We will understand only what we are taught." - Baba Dioum, Senegalese Conservationist

%section.who-we-are
  .header
    %h1 Your Support Is Vital to Helping Field Trip Foundation Bring Children Outdoors

  .content
    %p As a volunteer-based organization, Field Trip Foundation depends upon your support to make these educational field trips happen. There are several ways you can help support our programs: Make a tax-deductible contribution. Volunteer your time. Donate useful items. Tell your friends about us.
    %br/
    %br/
%section.why-help-ftf
  .header
    %h1 Make a Contribution
    %hr/

  .content
    %p Our programs depend 100% upon donations. All contributions - regardless of size - make a big difference to the children. FTF accepts gifts through checks and credit cards (online only), as well as gifts of stock. As a 501(c)3 nonprofit, all donations are tax deductible. We receive no United Way or government funds. For stock gift information, please email the office with your fax number and the transfer instructions will be faxed back to you.
  %br/

  %a{:href => "http://www.guidestar.org/partners/helping/donate.jsp?ein=94-3372108", :target => "_blank"}
    .button.round Donate Today!

%section.grant-requirements
  .table-container
    %table
      %thead
        %tr
          %th{:width => "200"} Amount
          %th Benefit
      %tbody
        %tr
          %td $10,000
          %td Adopts a school for one year; with 2 trips for each grade, 3-5.
        %tr
          %td $3,000
          %td Creates a marine ecology curriculum site guide for Pillar Point.
        %tr
          %td $1,500
          %td Sponsors a field trip for one entire grade, 100-120 students.
        %tr
          %td $800
          %td Underwrites one issue of our newsletter.
        %tr
          %td $750
          %td Underwrites a brochure for teachers.
        %tr
          %td $700
          %td Sponsors a complete trip for one class (fees, buses and food).
        %tr
          %td $600
          %td Provides bus transportation for a field trip.
        %tr
          %td $275
          %td Sponsors the field trip fees for one trip.
        %tr
          %td $150
          %td Provides 50 wildlife identification cards.
        %tr
          %td $100
          %td Provides 20 teacher's guides
        %tr
          %td $50
          %td Provides trip materials for 20 kids to take home.
        %tr
          %td $25
          %td Provides one first aid kit.
  %br/
  %br/

%section.few-things
  .header
    %h1 Donate Equipment or Services
    %hr/
  
  .content
    %p 
      Gifts-in-kind of gently-used office, camping and outdoor equipment (kid-sized) are greatly appreciated. We also often need help with printing, accounting, photographic and graphic design services at discounted or reduced cost. Please send an email to 

      %a{:href => "mailto:info@fieldtripgroup.org"}info@fieldtripgroup.org 
      to inquire about donations of services or used items. 
    %strong Remember the 3 R's: reduce, recycle, reuse!
  %br/
  %br/
%section.who-we-are
  .header
    %h1 Volunteer
    %hr/

  .content
    %p  If you have an extra day to spare from time to time, our trips require adult chaperones. To join us on a trip, please send an email. We also need help in the office - from assisting with mailings to setting-up outdoor events and programs.
    %p 
      We are always looking for trained naturalist guides to join us on our day trips. If you have environmental education training or are interested in being trained to become a guide, please send an email to 
      %a{:href => "mailto:info@fieldtripgroup.org"}info@fieldtripgroup.org. 
  %br/
  %br/
%section.why-help-ftf
  .header
    %h1 Tell Your Friends About Us
    %hr/

  .content
    %p Field Trip Foundation is a community based nonprofit. If you know someone who might be interested in our programs, please tell them about FTF. The more friends we make in the community, the more children we can reach!
