%section.hero
  .row.text-center
    .small-12.columns
      %h1.main-title Field Trip Foundation
      %h2.subheader "Curiosity is the edge of passion"

%section.who-we-are
  .header
    %h1 Who we are
    %hr/

  .content
    %p Field Trip Foundation is a volunteer-based, non-profit organization dedicated to providing environmental educational field trips to low-income San Francisco Bay Area school children.

    %i.fa.fa-arrow-circle-o-down