
.container.blog-post
  .row
    .small-12.columns
      %h3.subheader.news Notes From the Field
      %article.post
        %a{:href => "#"}
          = image_tag "ano-nuevo-seals.png"
        .content
          %h2
            %a{:href => "#"} Año Nuevo, Elephant Seal Colony on San Mateo Coast
          %p It was a perfect day for the trip, as a light cloud cover kept the seals cool and active, but didn't threaten rain. Streaming off the bus into smaller groups, 100 fourth-grade students were excited to investigate up close the 2000-plus pound elephant seals in their habitat, led by trained Año Nuevo docents.Walking among the sand dunes, armed with loaned binoculars and home-made field notebooks, the children eagerly watched over twelve-hundred seals go about their rituals of birthing, nursing and defending their territories.
          %br/
          %p "Look, look!" pointed one student. "There are the seagulls circling around. There's going to be a baby over there!" Sure enough, a few moments later one of the many pregnant female seals slipped out a small dark, cigar-shaped baby seal. The students were awestruck. "Wow. This is way cooler than videos!" commented another student.
          %br/
          %p The students knew to look for the sign of circling seagulls because prior to the trip, Field Trip provided teacher guides on Año Nuevo and arranged an in-class presentation by Bill Jardine. Mr. Jardine, who recently retired from a ten-year stint as an Año Nuevo docent, is the author of Ana of Año Nuevo, an educational children's story about the life of an elephant seal, seen through a young seal's eyes. More information about the trip is in an article in the Almanac News.


          .row.notes-image-blocks
            .medium-6.columns
              .card
                .image
                  = image_tag 'boy_skull.png'
                .content
                  %p Comparing teeth with a Northern Elephant Seal skull.
            .medium-6.columns
              .card
                .image
                  = image_tag 'kid-binocs.png'
                .content
                  %p Watching for seagulls - the sure sign of a pregnant female seal.

          %blockquote
            "Knowing we were going to be able to take this trip was so exciting for us. It allowed all of our fourth grade teachers to plan fantastic Science and Language Arts units. We were able to spend weeks before the trip studying Elephant Seals, the California coastal community, habitats and food webs. It was enormously important to our lessons that the students would be able to go and actually see, touch and completely experience everything we had learned. 
            %br/
            %br/
            Thank you also for the donation of the books Ana of Año Nuevo...the students really enjoyed the visit by author Bill Jardine...and they spent many lessons improving their questioning strategies so they would be prepared to ask Mr. Jardine factual information about Elephant Seals. Your foundation has made a real difference in the quality of instruction in our classrooms this year."
            %cite
              %strong Ms. Dugoni, Ms. Perez, Ms. Daly, Mr. Glover & Ms. Ramirez 4th grade teachers
          %p ___
          %p Learn More!
          .button-group{"data-grouptype" => "OR"}
            %button.small.button.primary.radius{:href => "#"} Why Help?
            %button.small.button.success.radius{:href => "#"} How to Help?