
.container.blog-post
  .row
    .small-12.columns
      %h3.subheader.news Notes From the Field
      %article.post
        %a{:href => "#"}
          = image_tag "fitzgerald-marine-reserve-tides.png"
        .content
          %h2
            %a{:href => "#"} Fitzgerald Marine Reserve / Montara Lighthouse
          %p Thirty 5th graders from Taft Elementary in Redwood City spent an exicitng day at the Fitzgerald Marine Reserve learning about the inter-tidal zone's animals and plant life. For many students, this was the first time they had EVER been to the beach, walked on the sand and touched the ocean. Before the trip, Field Trip Foundation arranged an in-class presentation by a local naturalist, so the children knew what to expect and were prepared for a day at the beach tide pooling.

          %p On this very special trip, the students also spent the night at the nearby Montara Lighthouse Youth Hostel, chaperoned by teachers and FTF volunteers.

          %blockquote
            "My favorite part of the day was when we went to the tide pools because there were cool animals"
            %cite
              %strong Kevin

          %blockquote
            "My favorite part of the day was when I got the crab."
            %cite
              %strong Henderson

          .row.notes-image-blocks
            .medium-6.columns
              .card
                .image
                  = image_tag 'boys-redwoods.png'
                .content
                  %p Three friends having a good time among the redwoods
            .medium-6.columns
              .card
                .image
                  = image_tag 'boy_tidepool.png'
                .content
                  %br/
                  %p Exploring the tidepools.
                  %br/

          %blockquote
            "My favorite part of the day was watching the sunset. It was amazing."
            %cite
              %strong Christina

          %blockquote
            "Thank you for an amazing experience - both for us as teachers and for our students. Thank you for helping them on their way to be lifelong learners."
            %cite
              %strong Ms. Roper, 5th grade teacher
          %p ___
          %p Learn More!
          .button-group{"data-grouptype" => "OR"}
            %button.small.button.primary.radius{:href => "#"} Why Help?
            %button.small.button.success.radius{:href => "#"} How to Help?