
.container.blog-post
  .row
    .small-12.columns
      %h3.subheader.news Notes From the Field
      %article.post
        %a{:href => "#"}
          = image_tag "hidden-villa.png"
        .content
          %h2
            %a{:href => "#"} Hidden Villa Farm & Wilderness Preserve
          %p Knowing where the food on the dinner table comes from is often a mystery to children. Our trip to Hidden Villa, a local leader in environmental education, was filled with tasting garden treats, touching the bristles on a pig's back and the soft skin of a cow's belly. Over 3 days, one-hundred-twenty second graders used all five senses to learn about the nature's cycles of life in the garden, and how important animals are to our lives. Read more about the trip in the recent Los Altos Town Crier article.

          %blockquote
            "Thank you for taking us to Hidden Villa. I liked the farm. My favorite thing about the trip was the food in the garden. I learned that when chickens stop sitting on one egg it's good to eat."
            %cite
              %strong Dalaney

          %blockquote
            "Thank you for sending me to Hidden Villa. I liked the farm. I liked the animals the best. The best animals are the cows because that was the first time I seen a BIG cow. I did not know they were so BIG."
            %cite
              %strong Laura

          %blockquote
            "Thank you for sending us to Hidden Villa. I liked the farm. My favorite animal was the chicken. I loved the flowers. And I love the smell of the leaf."
            %cite
              %strong Jeffrey

          .row.notes-image-blocks
            .medium-6.columns
              .card
                .image
                  = image_tag 'carrot-girl.png'
                .content
                  %p Showing off a freshly picked carrot.
                  %br/
            .medium-6.columns
              .card
                .image
                  = image_tag 'boy-rooster.png'
                .content
                  %p Literal hands-on experience with the animals.

          %strong From the teachers on the trip:

          %blockquote
            "My students found it very interesting that we get so many products from animals. I think this experience was invaluable to them because they could actually touch the animals. I was amazed by their excitement and enthusiasm. Many of them would not have seen these animals had it not been for the field trip."
          %blockquote
            "Thank you for this wonderful opportunity. My kids are still talking about the trip - a month later!"
          %blockquote
            "Most of my 2nd grade students are English Language Learners (ELL), they learned how to say the names of different farm animals in English. They also were able to see first hand waht a chicken, pig, sheep (etc.) pen look like; and composting, gardening, WOW! - all new to them"
            


          %p ___
          %p Learn More!
          .button-group{"data-grouptype" => "OR"}
            %a{:href => "/why-help"}
              %button.small.button.primary.radius Why Help?
            %a{:href => "/how-to-help"}
              %button.small.button.success.radius How to Help?