
%section.hero.field-notes
  .row.text-center
    .small-12.columns
      %h1.main-title Notes From the Field
      %h2.subheader See some of the magic and adventure from recent programs
.container.timline-container
  %section#cd-timeline.cd-container
    .cd-timeline-block
      .cd-timeline-img.cd-picture
        = image_tag "lighthouse.svg"
      / cd-timeline-img
      .cd-timeline-content
        %h2 Fitzgerald Marine Reserve / Montara Lighthouse
        %p Thirty 5th graders from Taft Elementary in Redwood City spent an exicitng day at the Fitzgerald Marine Reserve learning about the inter-tidal zone's animals and plant life. For many students, this was the first time they had EVER been to the beach, walked on the sand and touched the ocean.
        %a.cd-read-more{:href => "field-notes/fitzgerald-marine-reserve"} Read more
      / cd-timeline-content
    / cd-timeline-block
    .cd-timeline-block
      .cd-timeline-img.cd-movie
        = image_tag "ocean.svg"
      / cd-timeline-img
      .cd-timeline-content
        %h2 Año Nuevo, Elephant Seal Colony on San Mateo Coast
        %p  It was a perfect day for the trip, as a light cloud cover kept the seals cool and active, but didn't threaten rain. Streaming off the bus into smaller groups, 100 fourth-grade students were excited to investigate up close the 2000-plus pound elephant seals in their habitat, led by trained Año Nuevo docents.
        %a.cd-read-more{:href => "field-notes/elephant-seal-colony"} Read more
      / cd-timeline-content
    / cd-timeline-block
    .cd-timeline-block
      .cd-timeline-img.cd-picture
        = image_tag "farm.svg"
      / cd-timeline-img
      .cd-timeline-content
        %h2 Hidden Villa Farm & Wilderness Preserve
        %p  Knowing where the food on the dinner table comes from is often a mystery to children. Our trip to Hidden Villa, a local leader in environmental education, was filled with tasting garden treats, touching the bristles on a pig's back and the soft skin of a cow's belly.
        %a.cd-read-more{:href => "field-notes/hidden-villa-farm"} Read more
