@import "variables"

body *
  font-family: 'Avenir', sans-serif

ul.left
  li
    background-color: transparent

.logo
  height: 60px
  width: 60px
  margin: 5.5px 20px 0px 20px

.hidden
  display: none

.hero
  background-size: cover
  height: 75vh
  margin-bottom: 3rem
  margin-top: -200px

.header
  text-align: center
  h1
    color: white
    font-weight: bold
    font-size: 30px

  hr
    width: 200px
    margin: 0 auto
    border: 1px solid white
.main-title
  font-family: 'Andale Mono', sans-serif
  color: $white
  font-size: 70px
  margin-top: 40px

.subheader
  font-family: 'Avenir', sans-serif
  color: $white
  font-size: 30px
  margin-top: 20px


.zurb-form
  width: 70%
  margin: 20px auto

  .button.round
    background-color: $smooth-grey
    border-radius: 20px

textarea.form-field
  width: 100%
  background-color: white
  border: 0.5px solid $smooth-grey
  -webkit-box-shadow: 4px 3px 19px -4px $smooth-grey
  -moz-box-shadow: 4px 3px 19px -4px $smooth-grey
  box-shadow: 4px 3px 19px -4px $smooth-grey
  border-radius: 5px
input.form-field
  background-color: white
  border: 0.5px solid $smooth-grey
  -webkit-box-shadow: 4px 3px 19px -4px $smooth-grey
  -moz-box-shadow: 4px 3px 19px -4px $smooth-grey
  box-shadow: 4px 3px 19px -4px $smooth-grey
  border-radius: 5px

.form-label
  text-align: left
  color: white
  font-size: 20px