
@import "variables.sass"

.hamb
  width: 28px
  height: 5px
  background: white
  margin-bottom: 3px

#navbar
  height: 45px
  width: 100%
  position: absolute
  z-index: 9999
  background: black

.page-content
  width: 75%
  margin: auto
  position: relative
  z-index: 0
  -webkit-transition: all 0.15s ease-out 0
  -moz-transition: all 0.15s ease-out 0
  transition: all 0.15s ease-out 0
  background: #eeeeee

.toggle
  text-decoration: none
  font-size: 30px
  color: black
  -webkit-transition: all 0.15s ease-out 0
  -moz-transition: all 0.15s ease-out 0
  transition: all 0.15s ease-out 0
  position: fixed
  top: 20px
  left: 20px
  z-index: 1
  cursor: pointer
  transition: .8s

.sidebar
  position: fixed
  top: 0px
  bottom: 0px
  left: -180px
  -webkit-transition: all 0.15s ease-out 0
  -moz-transition: all 0.15s ease-out 0
  transition: all 0.15s ease-out 0
  width: 180px
  padding: 30px
  background: #303e49
  z-index: 9998
  transition: .7s
  ul
    list-style: none
    margin: 0
    padding: 0
  li
    color: rgba(255, 255, 255, 0.8)
    font-family: sans-serif
    font-size: 16px
    margin: 0
    margin-bottom: 16px
    -webkit-font-smoothing: antialiased
    cursor: pointer
    &:hover
      color: white

  a
    color: white

#sidebartoggler
  display: none
  &:checked + .page-wrap
    .sidebar
      left: 0px
      transition: .2s
    left: 220px

    .toggle
      left: 200px
    transition: .3s
    .page-content
      opacity: .8

@media #{$desktop}
  .mobile-hide
    display: none
@media #{$phones}
  nav.top-bar
    display: none