
%section.hero.why-help
  .row.text-center
    .small-12.columns
      %h1.main-title Why Help
      %h2.subheader "One day's exposure to mountains is better than cartloads of books. See how willingly Nature poses herself upon photographers' plates. No earthly chemicals are so sensitive as those of the human soul" - John Muir


%section.why-help-ftf
  .header
    %h1 Why Help the Field Trip Foundation
    %hr/

  .content
    %p If you live in the San Francisco Bay Area, you know that we have a rich and unique blend of culture, as diverse as anywhere in the world. You also may be aware of the incredible natural environment which cradles us. We have mountains, beaches, marshes, redwoods, rivers, tide pools, and more. Yet, many children in our community have not had an opportunity to explore any of these extraordinary places.

    %br/
    %br/

%section.who-we-are
  .header
    %h1 Community Need
    %hr/

  .content
    %p While some children in the Bay Area have been to Yosemite or the Grand Canyon, there is a surprising number of local children who have not seen a towering redwood tree or visited the ocean. And while some kids seem to have regular exposure to nature's special places, many of our elementary school children are left behind.

%section.grant-requirements
  %h1 According to the National Environmental Education and Research Foundation:
  %br/
  .row.step-by-step-style-one
    .small-12.columns
      .path-item
        .circlenumber
          %h3 1
        .spacer-p
        %p Knowledge about the environment is highly correlated with interest in helping conserve it or working to protect it.
      .path-item
        .circlenumber
          %h3 2
        .spacer-p
        %p School is the second most likely source of environmental information, behind television.

      .path-item
        .circlenumber
          %h3 3
        .spacer-p
        %p The school's importance in providing environmental education increases as income decreases. 
      .path-item
        .circlenumber
          %h3 4
        %p Fully 78% of students from disadvantaged communities who know about environmental issues would like to work with others to do something about it.
      .path-item
        .circlenumber
          %h3 5
        .spacer-p
        %p Students prefer spending more time closer to nature, as a way to learn about it.
  %br/
  %br/ 
%section.why-help-ftf
  .header
    %h1 Most Bay Area public schools receive $10 per student for field trips:
    %hr/

  .content
    %p Ten dollars a year doesn't even cover the cost of a bus, let alone any program fees. Local environmental organizations report an increasing number of unmet scholarship requests by local schools for educational field trips each year.
  %br/
  %br/
%section.who-we-are
  .header
    %h1 Field Trip Foundation Goal for 2007-08
    %hr/

  .content
    %p Our goal is to educate at least 1,200 low-income children about their life-long roles as responsible caretakers of the environment. Starting with the school year, educational trips will be taking students and teachers out to investigate tide pools, watch elephant seal colonies, hike wilderness trails and much more.
