%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %a{:href => "/welcome"}
        = image_tag 'logo.svg', class: 'logo'
  %section.top-bar-section
    %ul.left
      %li
        %a{:href => "/welcome"} Welcome!
      %li
        %a{:href => "/field-notes"} Notes from the Field
      %li
        %a{:href => "#"} For Teachers
      %li
        %a{:href => "#"} Why Help?
      %li
        %a{:href => "#"} How to Help
      %li
        %a{:href => "#"} Contact Us

.mobilenav
  %li
    %a{:href => "/welcome"} Home
  %li
    %a{:href => "/field-notes"} Notes from the Field
  %li
    %a{:href => "#"} For Teachers
  %li
    %a{:href => "#"} Why Help?
  %li
    %a{:href => "#"} How to Help
  %li
    %a{:href => "#"} Contact Us
%a.icon{:href => "javascript:void(0)"}
  .hamburger
    .menui.top-menu
    .menui.mid-menu
    .menui.bottom-menu