%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %a{:href => "/welcome"}
        = image_tag 'logo.svg', class: 'logo'
  %section.top-bar-section
    %ul.left
      %li
        %a{:href => "/welcome"} Home
      %li
        %a{:href => "/field-notes"} Notes from the Field
      %li
        %a{:href => "/for-teachers"} For Teachers
      %li
        %a{:href => "/why-help"} Why Help?
      %li
        %a{:href => "#"} How to Help
      -# %li
      -#   %a.hidden{:href => "#"} Contact Us

.mobile-hide
  %input#sidebartoggler{:name => "", :type => "checkbox", :value => ""}/
  .page-wrap
    %nav#navbar
      %label.toggle{:for => "sidebartoggler"}
        .hamb
        .hamb{:style => ""}
        .hamb
    .sidebar
      .spacer
      %ul
        %li
          %a{:href => "/welcome"} Home
        %li
          %a{:href => "/field-notes"} Notes from the Field
        %li
          %a{:href => "/for-teachers"} For Teachers
        %li
          %a{:href => "/why-help"} Why Help?
        %li
          %a{:href => "#"} How to Help